# Frontend Environment Variables
REACT_APP_RECAPTCHA_SITE_KEY=6LfAFSMsAAAAAOGp-tuvFm7cngZ3Xc8VY85zGqKB
REACT_APP_BACKEND_URL=http://localhost:8000

# Backend Environment Variables
RECAPTCHA_SECRET_KEY=6LfAFSMsAAAAACxfTOaPcZavvqOXOy6WPPMUavYv
MONGO_URL=mongodb://localhost:27017
DB_NAME=test_database
CORS_ORIGINS=http://localhost:3000,http://localhost:8000
